
@charset "utf-8";

/* 전체 영역 */
main h1 {
     border:none;
}

.login-wrap {
    margin:0 auto;
    width: 500px;
}

/* 로그인 박스 */
.login-box {
    border: 1px solid #aaa;
    padding: 40px 60px;
}

/* 입력 + 버튼 영역 */
.login-form {
    display: flex;
    gap:20px;
}

.input-area input[type="text"],
.input-area input[type="password"] {
    width: 220px;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
}

/* 아이디 저장 */
.save-id {
    font-size: 16px;
    color: #787878;
    display: flex;
    align-items: center;
    gap:12px;

}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #aaa;
}

/* 로그인 버튼 */
.btn-login {
    width: 150px;
    height: 100px;
    background: #e83828;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}