/* 기본 스타일 */
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 20px;
}

.notice-table a {
   text-decoration: none;
   color:#000;
    padding: 0;
    margin: 0;
}
.notice-table a:hover {
   text-decoration: underline;
   text-decoration-color: #000;
    text-decoration-thickness: 2px;
    padding: 0;
    margin: 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

/* 제목 */
.title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* 검색창 */
.search-box {
  text-align: right;
  margin-bottom: 20px;
}

.search-box input[type="text"] {
  padding: 6px 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-box button {
  padding: 6px 12px;
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* 테이블 */
.notice-table {
  width: 100%;
  border-collapse: collapse;
}
.notice-table td:nth-of-type(1) {
    width: 71px;
}
.notice-table td:nth-of-type(2) {
    width: 540px;
}
.notice-table td:nth-of-type(3) {
    width: 162px;
}
.notice-table td:nth-of-type(4) {
    width: 86px;
}
.notice-table td:nth-of-type(5) {
    width: 207px;
}

.notice-table th, .notice-table td {
  text-align: center;
  padding: 12px 10px;
  border-bottom: 1px solid #ccc;
}

.notice-table th {
  font-weight: bold;
  background-color: #f8f8f8;
}

.notice-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.notice-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* 페이지네이션 */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 3px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.pagination a.active {
  background-color: #666;
  color: #fff;
  border-color: #666;
}

.pagination a:hover:not(.active) {
  background-color: #eee;
}